#crumbs {
    width: auto;
}

#crumbs div {
    width: 22%;
    height: 10px;
}

#crumbs ul {
    list-style: none;
    display: inline-table;
    padding-left: 0px;
    width: 100%;
}

#crumbs ul li {
    display: inline;
}

#crumbs ul li div {
    display: block;
    float: left;
    height: 16px;
    background: #ddd;
    text-align: center;
    padding: 8px 8px 0 8px;
    position: relative;
    margin: 0 2px 0 0;

    font-size: 6px;
    text-decoration: none;
    color: #fff;
}

#crumbs ul li div:after {
    content: "";
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #ddd;
    position: absolute;
    right: -8px;
    top: 0;
    z-index: 1;
}

#crumbs ul li div:before {
    content: "";
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

#crumbs ul li:first-child div {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#crumbs ul li:first-child div:before {
    display: none;
}

#crumbs ul li:last-child div {
    padding-right: 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#crumbs ul li:last-child div:after {
    display: none;
}

#crumbs ul li div.highlight {
    background: #FF912D;
}

#crumbs ul li div.highlight:after {
    border-left-color: #FF912D;
}
		
		