<template name="chats">
    <div class="container">
        <h2>Chats</h2>
    </div>
        <ul class="list-group">

            {{#each chats}}
                {{#if handshake}}
                    {{> chatitem}}
                {{/if}}
            {{/each}}

        </ul>

</template>


<template name="chatitem">
    <li class="list-group-item event">
    <div class="row event">
        <div class="col-xs-3"><img src={{myFoodImg}} class="img-responsive img-circle"></div>
        <!-- <div class="col-xs-3"><img src={{partnerFoodImg}} class="img-responsive img-circle"></div> -->
		<div class="col-xs-9">
		<a href={{pageUrl}}>Chat with {{name}}</a></div>
    </div>
    </li>
</template>