<template name="chat">
	<div class="container event-detail" style="padding-top: 20px;">

    {{> message_list}}
	
	  {{#if currentUser}}
        {{> submit_text}}
    {{/if}}
	</div>
</template>

<template name="submit_text">
    <form action="" class="message_form" id="aboveFooter">
        <div class="input-group">
            <input type="text" name="message" placeholder="Enter message" class="textbox form-control" required>
            <span class="input-group-btn">
            <button type="submit" value="Submit" class="submit btn btn-default">Send</button>
            </span>

<!--             <label for="addcomment"></label>
            <input type="text" class="form-control" id="addcomment" placeholder="Add a comment">
            <span class="input-group-btn commentsend">
            <button type="submit" class="btn btn-default">Send</button>                
                    </span> -->
        </div>


    </form>
</template>

<template name="message_list">
    <ul class="messages">
        <div class="row">
            {{#each messages}}
                <li style="padding-top:10px;">
                    <strong>{{username}}</strong> - {{text}} <br> <small>{{createdAt}}</small>
                </li>
            {{/each}}
        </div>
    </ul>
</template>