<template name="dropWait">
    {{> notifications}}

    <div class="event-block">
        <div class="container">
            <div class="alert alert-info" role="alert">
                <p>You have dropped! Waiting for other to drop...</p>
            </div>

        <div class="row">
            <div class="col-xs-6"><img src="{{event.user1.image}}" class="img-responsive img-thumbnail"></div>
            <div class="col-xs-6"><img src="{{event.user2.image}}" class="img-responsive img-thumbnail"></div>
        </div>


        </div>  <!-- container -->
    </div> <!-- event-block -->

    <div class="wrap-btn"><button type="button" class="btn btn-danger btn-event-action btn-full-width" id="cancel-event">Cancel this event</button></div>

    <div class="text-center">
        <a href="#" id="simulate-other-drop"><p>simulate other person dropping</p></a>
    </div>
</template>