<template name="dropWait">
    <div class="container event-detail">
        <div class="div-event-detail text-center">
            <h3>You dropped. Waiting for other to drop...</h3>
        </div>

        <div class="row">
            <div class="col-xs-6 img-overlay-parent">
                <img src="/images/food1.jpg" class="img-responsive">
                <div class="img-overlay text-center"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
            </div>

            <div class="col-xs-6 img-overlay-parent">
                <img src="/images/home.jpg" class="img-responsive">

            </div>
        </div>

        <div class="div-event-action text-center"><button type="button" class="btn btn-danger btn-event-action">Cancel this event</button></div>

        <a href="#" id="simulate-other-drop"><p>simulate other person dropping</p></a>
    </div>
</template>