<template name="dropWait">
    {{> notifications}}

    <div class="event-block">
        <div class="container">
            <div class="alert alert-info" role="alert">
                <p>You've dropped! Waiting for the other person to drop their meal...</p>
            </div>

            <div class="row">
                <div class="col-xs-6"><img src="{{event.user1.image}}" class="img-responsive img-thumbnail"></div>
                <div class="col-xs-6"><img src="{{event.user2.image}}" class="img-responsive img-thumbnail"></div>
            </div>
        </div>  <!-- container -->
    </div> <!-- event-block -->

    <div class="wrap-btn">
        <button type="button" class="btn btn-danger btn-event-action btn-full-width" id="cancel-event">Cancel this
            event
        </button>
    </div>

    <div class="text-center">
        <a href="#" id="simulate-other-drop"><u><h4>Simulate other person dropping their meal</h4></u></a>
    </div>
</template>