<template name="findYourMeal">
    {{> notifications}}

    <button type="button" id="findMeal" class="btn btn-primary btn-navbar-right">PICKED UP</button>

    
    <div class="event-block">
        <div class="container">
            <div class="alert alert-info" role="alert">
                <p>You both dropped your meals, now go find theirs and pick it up at the location below.</p>
            </div>
            <div class="row">
                <div class="col-xs-4"><img src="{{event.user2.image}}" class="img-responsive img-thumbnail"></div>
                <!-- <div class="col-xs-6"><img src="{{event.user2.image}}" class="img-responsive"></div> -->
                <div class="col-xs-8">
                    
                    <!-- <h4><small>TIME</small> <br> {{event.time}}</h4> -->
                    <h4><small>LOCATION</small><br>Price Center, San Diego, CA 92037</h4>
                </div>

            </div>


            <br>
            <div class="row">
                <iframe
                        width="100%"
                        height="300"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDJt6LDlcOrM-XxhAHiLzVPvJ2BFnQvuYU
                    &q=price center ucsd" allowfullscreen>
                </iframe>
            </div>
        </div>  <!-- container -->
    </div> <!-- event-block -->

    <div class="wrap-btn"><a href="/chat/mysterymeet"><button type="button" class="btn btn-warning btn-event-action btn-full-width">Cannot find</button></a></div>


    <div class="wrap-btn"><button type="button" class="btn btn-danger btn-event-action btn-full-width" id="cancel-event">Cancel this event</button></div>




</template>