<template name="finish">
    <div class="container event-detail">
        <div class="div-event-detail text-center">
            <h3>Enjoy your meal, and let them know if you liked it!</h3>
        </div>

        <div class="div-event-action text-center">
            <button type="button" class="btn btn-success btn-event-action">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                I liked this meal
            </button>
        </div>
        <div class="div-event-action text-center">
            <button type="button" class="btn btn-danger btn-event-action">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                I disliked this meal
            </button>
        </div>

        <div class="div-event-detail text-center">
            <h3>If you both ask to chat with the other person, we'll start a chat!</h3>
        </div>
        <div class="div-event-action text-center">
            <button type="button" class="btn btn-warning btn-event-action">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                Ask to chat
            </button>
        </div>

        <div class="row">
            <div class="col-xs-6 img-overlay-parent">
                <img src="/images/food1.jpg" class="img-responsive">
            </div>

            <div class="col-xs-6 img-overlay-parent">
                <img src="/images/home.jpg" class="img-responsive">
            </div>
        </div>
    </div>
</template>