<template name="events">
    <!-- Upcoming -->
    <div class="container">
        <h2>Upcoming</h2>
    </div>
    <ul class="list-group">
        {{#each events}}
            {{#if isUpcoming}}
                {{> event}}
            {{/if}}
        {{/each}}
    </ul>


    <!-- Past -->
    <div class="container">
        <h2>Past</h2>
    </div>
    <ul class="list-group">

        {{#each events}}
            {{#unless isUpcoming}}
                {{> event}}
            {{/unless}}
        {{/each}}

    </ul>
</template>


<template name="event">
    <!--Todo: placeholder for dynamic-->
    <a href="/event/{{_id}}">
        <li class="list-group-item event">
            <div class="row event">
                <div class="col-xs-3"><img src={{user1.image}} class="img-responsive"></div>
                <div class="col-xs-3"><img src={{user2.image}} class="img-responsive"></div>
                <div class="col-xs-6">
                    {{reminderText}}
                    <br>
                    {{#if showTime}}
                    <b>{{time}}</b>
                    {{/if}}
                    {{#if showLocation}}
                    <b>({{location}})</b>
                    {{/if}}
                    <!-- <p>Location: {{location}}</p> -->
                    <!--Todo: fix these:-->
                    <!-- <span class={{labelType}}>{{labelContent}}</span> -->
                </div>
            </div>
        </li>
    </a>
</template>