<template name="events">


    <!-- Upcoming -->
    <div class="container">
        <h2>Upcoming</h2>
    </div>
    <ul class="list-group">
        {{#each events}}
            {{#if isUpcoming}}
                {{> event}}
            {{/if}}
        {{/each}}
    </ul>


    <!-- Past -->
    <div class="container">
        <h2>Past</h2>
    </div>
    <ul class="list-group">

        {{#each events}}
            {{#unless isUpcoming}}
                {{> event}}
            {{/unless}}
        {{/each}}

    </ul>
</template>


<template name="event">
    <!--Todo: placeholder for dynamic-->
    <a href="/event/{{_id}}">
        <li class="list-group-item event">


            <div class="row">





            </div>


            <div class="row event">
                <div class="col-xs-3"><img src={{user1.image}} class="img-responsive"></div>
                <div class="col-xs-3"><img src={{user2.image}} class="img-responsive event-item-img"></div>
                <div class="col-xs-6 event-item-text">

                <div id="crumbs">
                    <ul>
                        {{#if statusIs "1"}}
                            <li><div id="crumb-item-1" class="highlight" ></div></li>
                        {{else}}
                            <li><div id="crumb-item-1" ></div></li>
                        {{/if}}

                        {{#if statusIs "2"}}
                            <li><div id="crumb-item-2" class="highlight" ></div></li>
                        {{else}}
                            <li><div id="crumb-item-2" ></div></li>
                        {{/if}}

                        {{#if statusIs "3"}}
                            <li><div id="crumb-item-3" class="highlight" ></div></li>
                        {{else}}
                            <li><div id="crumb-item-3" ></div></li>
                        {{/if}}

                        {{#if statusIs "4"}}
                            <li><div id="crumb-item-4" class="highlight" ></div></li>
                        {{else}}
                            <li><div id="crumb-item-4" ></div></li>
                        {{/if}}

                    </ul>
                </div> 

                    {{reminderText}}
                    <br>
                    {{#if showTime}}
                    <b>{{time}}</b>
                    {{/if}}
                    {{#if showLocation}}
                    <b>({{location}})</b>
                    {{/if}}
                    <!-- <p>Location: {{location}}</p> -->
                    <!--Todo: fix these:-->
                    <!-- <span class={{labelType}}>{{labelContent}}</span> -->
                </div>
            </div>
            <span class="glyphicon glyphicon-menu-right list-menu-right"></span>
        </li>
    </a>
</template>