<template name="footer">
    <div id="footer">
        <div class="navbar-orange navbar-fixed-bottom">
            <div class="row" id="bottomNav">
                <div class="col-xs-15 col-sm-3 text-center"><a href="/my-meals"><span class="glyphicon glyphicon-cutlery bottomIcon"></span><div class="p-bottomNav">My Meals</div></a></div>
				<div class="col-xs-15 col-sm-3 text-center"><a href="/profile"><i class="glyphicon glyphicon-user bottomIcon"></i><div class="p-bottomNav">Profile</div></a></div>
                <div class="col-xs-15 col-sm-3 text-center"><a href="/"><i class="glyphicon glyphicon-home bottomIcon"></i><div class="p-bottomNav">Home</div></a></div>
				<div class="col-xs-15 col-sm-3 text-center"><a href="/events"><i class="glyphicon glyphicon-sort gly-rotate-90 bottomIcon"></i><div class="p-bottomNav">Events</div></a></div>
                <div class="col-xs-15 col-sm-3 text-center"><a href="/chats"><i class="glyphicon glyphicon-comment bottomIcon"></i><div class="p-bottomNav">Chat</div></a></div>
            </div>
        </div>
    </div>
</template>