<template name="header">
	
            {{#if isActiveRoute 'browseMeals'}}
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                <a href="#" class="navbar-brand">MYSTERY MEET</a>
                </div>
                </nav>
            {{else}}
                <nav class="navbar navbar-default navbar-fixed-top navbar-inner" role="navigation">
                <div class="navbar-header">
                <a id="backBtn"><span class="glyphicon glyphicon-menu-left"></span></a>
                {{#if isActiveRoute 'my_meals'}}
                    <a href="#" class="navbar-title">MY MEALS</a>
                    <a href="/post-meal"><span class="glyphicon glyphicon-plus navbar-right"></span></a>
                {{/if}}
                {{#if isActiveRoute 'profile'}}<a href="#" class="navbar-title">PROFILE</a>{{/if}}
                {{#if isActiveRoute 'chats'}}<a href="#" class="navbar-title">CHATS</a>{{/if}}
                {{#if isActiveRoute 'events'}}<a href="#" class="navbar-title">EVENTS</a>{{/if}}
                {{#if isActiveRoute 'event'}}<a href="#" class="navbar-title">DETAILS</a>{{/if}}
                {{#if isActiveRoute 'postMeal'}}<a href="#" class="navbar-title">POST MEAL</a>{{/if}}
                {{#if isActiveRoute 'editMeal'}}<a href="#" class="navbar-title">EDIT MEAL</a>{{/if}}
                
              </div>
                </nav>
            {{/if}}



            
	   
	
</template>